base[[:space:]]utilizadas/matriz_usuario_filme_10M.csv filter=lfs diff=lfs merge=lfs -text
bases[[:space:]]MovieLens/ratings.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
